
 <div class="contenedor-login">
    <div class="formulario-login">
        <h2>Regístrate</h2>
        <form action="" method="post" class="formulario-login-form" >
            <div class="input-container">
                <label for="nombre">Nombre: </label>
                <input type="text"  name="nombre" id="nombre" placeholder="Nombre" required [(ngModel)]="nombre"  >
            </div>

         
            <div class="input-container">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="Email" required  [(ngModel)]="email">
            </div>
            <div class="input-container">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña"   [(ngModel)]="contra">
            </div>
            <!-- <div class="input-container">
                <label for="password"> Confirmar Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
            </div> -->

            <div class="input-radio-container">
                <div>
                    <input type="radio" id="admin" name="rol" value="admin"  [(ngModel)]="rolA" >
                    <label for="admin">Administrador </label>
                </div>
         
                <div>
                    <input type="radio" id="contribuidor" name="rol" value="usuarioVerificado" [(ngModel)]="rolC"  >
                    <label for="contribuidor">Contribuidor </label>
                </div>
               
            </div>

            <div >
                <input type="submit" value="Registrarse" class="boton"  (click)="registrarse()" />
            </div>
        </form>
    </div>
</div>
  
