
	<nav class="navegacion"> 
		<div>
			<p>Lenguaje de señas Colombiana</p>
		</div>
		<ul class="navegacion-lista">
			<li><a (click)="irATraduccion()"> Traducción <i class="fi fi-rr-user"></i></a></li>
			<li><a (click)="irACaptura()"> Captura</a></li>
			<li><a (click)="irALogin()"> Login</a></li>
			<li><a (click)="irARegistro()"> Registro</a></li>
			<li><a (click)="irAConfiguracion()"> Configuraciones</a></li>
			<li><a (click)="irAEntrenamiento()">Entrenamiento</a></li>
		</ul>
	</nav>

	<router-outlet></router-outlet>
	<!-- <app-camera></app-camera>	 -->

