<!-- 
	<nav class="navegacion navbar navbar-expand-lg " *ngIf=" usuarioLogueado == false	; else elseBlock"> 
		<div class="container-fluid ">
			<div>
				<img src="../assets/images/logo-senas.svg" alt="Logo del sistema" class="logo" (click)="home()">
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			  </button>
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navegacion-lista navbar-nav me-auto mb-2 mb-lg-0 menu text-right">
					<li class="nav-item"><a  class="nav-link" (click)="irATraduccion()"> <i class="fa-solid fa-video"></i> Traducción  </a></li>
					<li class="nav-item"><a  class="nav-link"(click)="irALogin()"> <i class="fa-solid fa-user"></i>Login</a></li>
					<li class="nav-item"><a  class="nav-link"(click)="irARegistro()"><i class="fa-solid fa-file-signature"></i> Registro</a></li>
				</ul>
			</div>
		</div>
	</nav> -->


<nav class="navbar navbar-expand-lg navegacion " *ngIf=" usuarioLogueado == false	; else elseBlock">
	<div class="container-fluid ">
		<a class="navbar-brand" (click)="home()">
			<img src="../assets/images/logo-senas.svg" alt="logo sistema" class="img-fluid logo">
		</a>
		<button class="navbar-toggler hamburguesa" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon  "></span> <!-- icono de hamburguesa -->
		</button>
		<div class="collapse navbar-collapse flex-grow-0 l1 " id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 menu text-right ">
				<li class="nav-item">
					<a class="nav-link  " (click)="irATraduccion()"> <i class="fa-solid fa-video"></i> Traducción </a>
				</li>
				<li class="nav-item">
					<a class="nav-link " (click)="irALogin()"> <i class="fa-solid fa-user"></i>Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " (click)="irARegistro()"><i class="fa-solid fa-file-signature"></i> Registro</a>
				</li>
			</ul>
		</div>
	</div>
</nav>




<ng-template #elseBlock>
	<nav class="navbar navbar-expand-lg navegacion ">
		<div class="container-fluid ">
			<a class="navbar-brand" (click)="home()">
				<img src="../assets/images/logo-senas.svg" alt="logo sistema" class="img-fluid logo">
			</a>
			<button class="navbar-toggler hamburguesa" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon  "></span> <!-- icono de hamburguesa -->
			</button>
			<div class="collapse navbar-collapse flex-grow-0 l1 " id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 menu text-right ">


					<li class="nav-item">
						<a class="nav-link  " (click)="irATraduccion()"> <i class="fa-solid fa-video"></i> Traducción
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " (click)="irACaptura()"> <i class="fa-solid fa-camera"></i>Captura</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " (click)="irAConfiguracion()"> <i
								class="fa-solid fa-gears"></i>Configuraciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " (click)="irAEntrenamiento()"><i
								class="fa-solid fa-filter"></i>Entrenamiento</a>
					</li>
					<!-- falta función deslogeo -->
				</ul>
			</div>
		</div>
	</nav>

</ng-template>

<!-- <nav class="navegacion navbar navbar-expand-md" > 
			<div>
				<img src="../assets/images/logo-senas.svg" alt="Logo del sistema" class="logo" (click)="home()">
			
			</div>
			<ul class="navegacion-lista">
				<li><a (click)="irATraduccion()"> <i class="fa-solid fa-video"></i> Traducción  </a></li>
				<li><a (click)="irACaptura()"> <i class="fa-solid fa-camera"></i>Captura</a></li>
			
				<li><a (click)="irAConfiguracion()"> <i class="fa-solid fa-gears"></i>Configuraciones</a></li>
				<li><a (click)="irAEntrenamiento()"><i class="fa-solid fa-filter"></i>Entrenamiento</a></li>
			</ul>
		</nav> -->




<router-outlet></router-outlet>
<!-- <app-camera></app-camera>	 -->