section{
  margin-top: 60px;
}

.padreCards{

    display: flex;
    padding: 10px;
    flex-direction: row;
    
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;


  }
  .subtitulo{
    text-align: center;
    margin-bottom: 20px;
  }
  
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    padding: 5px;
    width: 90%;
    transition: 1s all;
    
  }
  .card:hover{
    box-shadow: 0 0 10px 0 #1C3879;
    transform: scale(1.03);
    
  }
  .perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
  }
  .redes{
    display: flex;
    justify-content: center;
    gap: 20px
  }
  .redes p a{
    color: #1C3879;
    font-size: 20px;
    transition: 1s all;
  }
  .redes p a:hover{
    color: #607EAA;
  } 

  /* Media query  */
  @media screen and (max-width: 1200px){
    .padreCards{
      flex-direction: column;
    }
  }

  


