.grid {
	display: grid;
	width: 100%;
	grid-template-areas:
		" input camera camera"
		" input camera camera"
		" lista lista lista"
		"  contenedor contenedor contenedor";
	grid-gap: 10px;
	height: 100vh;
	padding: 10px;
}

.grid > #input-sena {
	grid-area: input;
	border: 2px solid #000;
	box-sizing: border-box;
}
.grid > #video-sena {
	grid-area: camera;
	border: 2px solid #000;
	box-sizing: border-box;
	box-shadow: #000 0px 0px 10px;
}
.grid > #lista-sena {
	grid-area: lista;
	border: 2px solid #000;
	box-sizing: border-box;
}
.grid > #botones-procesar {
	grid-area: contenedor;
	border: 2px solid #000;
	box-sizing: border-box;
}

.snap-container {
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
}

.list-unstyled {
	list-style: none;
}

.list-unstyled li {
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
}

.show {
	display: block;
	margin: auto;
}

.hide {
	display: none;
}

.agruparFoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}
.AgruparVideo-input {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}

.botones-agrupar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}
.ajustarInput {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

#video,
#canvas {
	height: auto;
	width: 60%;
	margin-top: 10px;
}
