	
<section class="grid">
	<nav>
		<ul>
			<li><a href="{url('/')}">Home</a></li>
			<li><a href="{url('/camera')}">Camera</a></li>
			<li><a href="{url('/gallery')}">Gallery</a></li>
			<li><a href="{url('/about')}">About</a></li>
			<li><a href="{url('/contact')}">Contact</a></li>
		</ul>
	</nav>
	<!-- <div class="AgruparVideo-input"> -->
		<div id="input-sena">
			<div class="ajustarInput">
				<div>
					<label for="nombreSeña"> Ingrese la seña :</label>
					<input type="text" placeholder ="Seña a procesar" required name="nombreSeña" class="form-control" id="nombreSeña" #nombre >
					
				</div>
				<button type="submit" (click)="subir(nombre.value)"  class="btn btn-primary">click</button>
			</div>

		</div>
		<div id="video-sena" >
			<div class="video-container canvas-video-container" *ngIf="!error">
				<video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
					autoplay></video>
				<canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
					[height]="HEIGHT"></canvas>
			</div>
			
			<div class="snap-container">
				<button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">Tomar Foto</button>
				<button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Otra</button>
	
				<div *ngIf="error" class="text-danger mt-4">
					{{ error }}.Refresque la página para volver a tomar fotos
					<div class="mt-5">
					
					</div>
				</div>
			</div>
		</div>



	<!-- </div> -->

		<div id="lista-sena">
			<p>EL VALOR DEL IMPUT ES {{inputText}}</p>
			<!-- Acá se muestra la lista de imágenes -->
			<ul class="list-unstyled">
				<li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
					<!-- <button (click)="eliminarFoto(idx)" >Eliminar</button> -->
					<div class="agruparFoto">
						<div (click)='eliminarFoto(idx)'>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
							</svg>
						</div>
						<img [src]="src" height="50" />
					</div>
				</li>
			</ul>
		</div>
		
		<section id="botones-procesar">
			<div class="botones-agrupar">
				<button class="btn btn-primary" (click)="procesar()">Guardar</button>
				<button class="btn btn-danger" (click)="eliminarTodo()">Eliminar todo</button>
			
			</div>
</section>

</section>
